<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBEncode.Properties.Settings.QunInfo1_DataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\db\QunInfo1_Data.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>