// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$linkColor: #08c;
$Odd_background_color:#EEEEEE;
body {
	background-color: #fff;
	width: 970px;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	table {
		.list_image{
			width: 80px;
			height: 60px;
		}
		strong{
			font-size: 18px;
		}
		.isOdd_true{
		  background-color: $Odd_background_color;
		}
	}
}
form {
	text-align: left;
}
.new_form {
	max-width: 480px;
}
#td_product_title{
max-width: 100px;
}
#td_product_description{
max-width:270px;
color: $linkColor;
word-wrap:break-word;
}
#td_product_img_url{
max-width: 100px;
}
#td_product_timestamp{
max-width:120px;
word-wrap:break-word;
}