<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="ProfilerCPUSettings_filter_type" value="2"/>
<stringAttribute key="ProfilerCPUSettings_filter_value" value="PText.*"/>
<stringAttribute key="ProfilerCPUSettings_profile_runnables" value="true"/>
<stringAttribute key="ProfilerCPUSettings_root_classes" value="PText.**&#10;"/>
<stringAttribute key="ProfilerMemorySettings_mode" value="4"/>
<stringAttribute key="ProfilerMemorySettings_stacktraces" value="-1"/>
<stringAttribute key="ProfilerMemorySettings_track_every" value="10"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test/src/PTest/CMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="PTest.CMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Test"/>
<stringAttribute key="profiler.settings.cpu.profiling.type" value="0"/>
<stringAttribute key="profiler.settings.instr.scheme" value="1"/>
<stringAttribute key="profiler.settings.instrument.empty.methods" value="true"/>
<stringAttribute key="profiler.settings.instrument.method.invoke" value="true"/>
<stringAttribute key="profiler.settings.istrument.getter.setter.methods" value="true"/>
<stringAttribute key="profiler.settings.n.profiled.threads.limit" value="32"/>
<stringAttribute key="profiler.settings.obj.alloc.stack.sampling.depth" value="-1"/>
<stringAttribute key="profiler.settings.sampling.interval" value="10"/>
</launchConfiguration>
