<% if true %>
	<p id="notice"></p>
<% end %>

<h1> Your Pragmatic Catalog</h1>
<div id="tb_store">
	<% @products.each do |product| %>
	<tr>
		<div class="entry">
			<td><%= image_tag(product.image_url) %></td>
			<td>
				<dl>
					<dt><h3><%= product.title %></h3></dt>
					<p style="width:340px;"><dt><%= sanitize(product.description) %></dt></p>
				</dl>
			</td>
			<td>
				<div>
					<span class="price"><%= product.price %></span>
				</div>
			</td>
		</div>
	</tr>
	<% end %>
</div>
