<!DOCTYPE html>

  
<html lang="zh-cn">
  <head>
    
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="OPENCS--204">
  	<meta name="author" content="CJ_Studio">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/psu.jpg">
    <link rel="shortcut icon" href="../static/img/psu.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/mainHeader.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../static/js/main.js"></script> 

    <title>OPENCS--Home</title>
  </head>

  <body>
  	<header>
  	  <div id = "mainHeader1">
  	    <div id="menu"> 

  	      <div id = "menuLeft"> 
  	          <img src="../static/img/line1.gif" />
  	          <a class="m_login" href="#">
                <img height="30px" src="../../../../../resource/JPG/opencs/opencs_logo25.png"/>
              </a>
  	          <img src="../static/img/line1.gif" />
  	      </div>

  	      <div id = "menuRight"> 
  	        <strong>
  	          <a class="m_login" href="/login">登录</a>&nbsp;
  	        </strong>
  	          <img src="../static/img/line1.gif"/>
  	          <img src="../static/img/line1.gif"/>&nbsp;
  	          <a class="m_login" href="/sign">注册</a>
  	      </div>

  	      <div id = "menuCenter">
  	        <ul>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_1" class='m_li_a' >
  	            <a href="/">首页</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_2" class='m_li' onmouseover='mover(2);' onmouseout='mout(2);'>
  	            <a href="/forum">论坛</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_3" class='m_li' onmouseover='mover(3);' onmouseout='mout(3);'>
  	            <a href="/blog">博客</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_4" class='m_li' onmouseover='mover(4);' onmouseout='mout(4);'>
  	            <a href="/video">微视频</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_5" class='m_li' onmouseover='mover(5);' onmouseout='mout(5);'>
  	            <a href="/notice">站内公告</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_6" class='m_li' onmouseover='mover(6);' onmouseout='mout(6);'>
  	            <a href="/jour">战地日记</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	          <li id="m_7" class='m_li' onmouseover='mover(7);' onmouseout='mout(7);'>
  	            <a href="lab204">Lab204</a>
  	          </li>
  	          <li class="m_line">
  	            <img src="../static/img/line1.gif" />
  	          </li>
  	        </ul>
  	      </div>
  	    </div>
  	  </div>
  	  <div id = "mainHeader2">
  	    <div id="mainTop2" style="height:32px; background-color:#F1F1F1;">
  	      <ul class="smenu">
	  	      <li style="padding-left:29px;" id="s_1" class='s_li_a'>
	  	        欢迎光临CJStudio开源小站，您是本站第
	  	        <font color="red">105</font>
	  	        位客人！
	  	      </li>
	  	      <li style="padding-left:141px;" id="s_2" class='s_li' onmouseover='mover(2);' onmouseout='mout(2);'>
	  	        <a href="/forum">论坛首页</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">编程开发</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">系统运维</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">数据库</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">网络</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">硬件相关</a>
	  	      </li>
	  	      <li style="padding-left:252px;" id="s_3" class='s_li' onmouseover='mover(3);' onmouseout='mout(3);'>
	  	        <a href="#">博客首页</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">编程开发</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">系统运维</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">数据库</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">网络</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">硬件相关</a>
	  	      </li>
	  	      <li style="padding-left:362px;" id="s_4" class='s_li' onmouseover='mover(4);' onmouseout='mout(4);'>
	  	        <a href="#">待开发</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">待开发</a>
	  	      </li>
	  	      <li style="padding-left:474px;" id="s_5" class='s_li' onmouseover='mover(5);' onmouseout='mout(5);'>
	  	        <a href="#">站内公告</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">204公告</a>
	  	      </li>
	  	      <li style="padding-left:380px;" id="s_6" class='s_li' onmouseover='mover(6);' onmouseout='mout(6);'>
	  	        <a href="#">战地日记</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">本站开发</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">程序猿</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">攻城狮</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">关于我们</a>
	  	      </li>
	  	      <li style="padding-left:520px;" id="s_7" class='s_li' onmouseover='mover(7);' onmouseout='mout(7);'>
	  	        <a href="#">204主页</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">团队建设</a>
	  	        &nbsp;&nbsp;|&nbsp;&nbsp;
	  	        <a href="#">项目进展</a>
	  	      </li>
  	      </ul>
  	    </div>
  	  </div>
  	</header>


  	<div id="mainBody" >

  		<div id = "mainTitle">
  		  <div>
  		    <p>
  		      <h1>Main Title</h1>
  		    </p>
  		  </div>
  		</div>


  		<div id = "mainMessage">
  		  <div>
  		    <p>
  		      <h3>我是菜鸟，但我爱分享</h3>
  		    </p>
  		  </div>
  		</div>

  		<div id ="bodyRight">
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		  <p>This is a test html on Right.</p>
  		</div>

  		<div id ="bodyCenter">
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		  <p>This is a test html.</p>
  		</div>

  		<div id ="bodyLeft">
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		  <p>This is a test html on Left.</p>
  		</div>
  	</div>

  <div id ="mainDown">
    <div style="width:550px;margin:20px auto;">
    <p>网站版本：<strong>v1.0.2</strong></p> 
    <p>版权所有：<strong><a href="/lab204">lab204</a></strong> </p>
    <p>联系我们 <strong>
      <a href="/message">(给我们留言)</a>
      </strong>
      <br>
      <strong>邮箱:</strong><a href="./">wangcj1214@gmail.com</a> 
              <img src="../static/img/line1.gif"/>
      <strong>QQ:</strong> <a href="./">372896852</a>
    <p><strong>注</strong>：此网站仅供学习交流，不以任何方式参与商业运作。</p>
    </div>
  </div>
  </body>
</html>


